body{
	background-color: #8A9A5B
}

#jobApplicationForm{
	font-family: Courier New;
	text-align: center;
	background-color: #999;
	font-weight: bolder;
}

#Header{
	width: 100px;
	margin-left: 500px;
	margin-right: auto;
	margin-bottom: 50px;
	text-align: center;
	font-size: 30px; 
	font-family: Courier New;
	color: blue; font-weight: bold;